.formbox{
    margin: auto;
    width: 500px;
    background-color: #a6ca06;
    padding: 25px;
    border-radius: 30px;
    box-shadow:#697006 0px 20px 30px;
}
#heading{
    text-align: center;
    color:rgb(43, 42, 42)
}
.background-Box{
    background-color: #19dc95;
   
}
input,select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
label{
    font-weight: bold;
}
button{
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    width: 140px;
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    background:#7377e7;
    background-color: #45a049;
    cursor: pointer;
}   